@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #e3e7ed;
}

::-webkit-scrollbar-thumb {
  background: #8e9caa;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #718096;
}
.btn {
  @apply px-6 py-3 bg-teal-600 rounded-md text-white font-medium tracking-wide hover:bg-teal-500 ml-3;
}
.indicate {
  @apply absolute top-0 right-0 translate-x-6 -translate-y-2 font-bold w-6 h-6 bg-red-600 rounded-full flex justify-center items-center text-white text-sm;
}
